.container-fluid{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.buttons-bar{
    background-color: rgb(37, 38, 41);
    height: 8%;
    align-items: center;
    box-shadow: 0 -5px 15px rgba(37, 38, 41, 0.5);
}